#heading{
    text-align: center;
    margin-top: 30px;
    color: black;
}

.container-fluid{
    padding: 0px;
}
.icon {
	cursor: pointer;
	margin-right: 50px;
	line-height: 60px;
}
.icon span {
	background: #f00;
	padding: 7px;
	border-radius: 50%;
	color: #fff;
	vertical-align: top;
	margin-left: -25px;
}
.icon img {
	display: inline-block;
	width: 40px;
	margin-top: 20px;
}
.icon:hover {
	opacity: .7;
}

.logo {
	flex: 1;
	margin-left: 50px;
	color: #eee;
	font-size: 20px;
	font-family: monospace;
}
.notify-logo:hover{
cursor: pointer;
}
.notifi-box {
    background-color: #fff;
	width: 300px;
	height: 0px;
	opacity: 0;
	position: absolute;
    overflow-y: scroll;
    z-index: 1;
	top: 63px;
	right: 35px;
	transition: 1s opacity, 250ms height;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.notifi-box h2 {
	font-size: 14px;
	padding: 10px;
	border-bottom: 1px solid #eee;
	color: #999;
}
.notifi-box h2 span {
	color: #f00;
}
.notifi-item {
	display: flex;
	border-bottom: 1px solid #eee;
	padding: 15px 5px;
	margin-bottom: 15px;
	/* cursor: pointer; */
}
.notifi-item:hover {
	background-color: #eee;
    cursor: pointer;
}
.notifi-item img {
	display: block;
	width: 50px;
	margin-right: 10px;
	border-radius: 50%;
}
.notifi-item .text h4 {
	color: #777;
	font-size: 16px;
	margin-top: 10px;
}
.notifi-item .text p {
	color: #aaa;
	font-size: 12px;
}


/* main code */

.area{
    background: #4e54c8;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height: 100vh;
   
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
    animation-duration: 10s;
background-image: url("/images/Selection_140.jpeg");
   background-repeat: no-repeat; 
   background-size: 100% 100%;
}



.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
background-image: url("/images/Selection_141.jpeg");
   background-repeat: no-repeat; 
   background-size: 100% 100%;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
    animation-duration: 10s;
background-image: url("/images/Selection_142.jpeg");
   background-repeat: no-repeat; 
   background-size: 100% 100%;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 16s;
background-image: url("/images/Selection_143.jpeg");
   background-repeat: no-repeat; 
   background-size: 100% 100%;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
    animation-duration: 13s;
background-image: url("/images/Selection_144.jpeg");
   background-repeat: no-repeat; 
   background-size: 100% 100%;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
    animation-duration: 12s;
background-image: url("/images/Selection_145.jpeg");
   background-repeat: no-repeat; 
   background-size: 100% 100%;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 2s;
    animation-duration: 10s;
background-image: url("/images/Selection_146.jpeg");
   background-repeat: no-repeat; 
   background-size: 100% 100%;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 5s;
    animation-duration: 20s;
background-image: url("/images/Selection_145.jpeg");
   background-repeat: no-repeat; 
   background-size: 100% 100%;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 25s;
background-image: url("/images/Selection_140.jpeg");
   background-repeat: no-repeat; 
   background-size: 100% 100%;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
background-image: url("/images/Selection_143.jpeg");
   background-repeat: no-repeat; 
   background-size: 100% 100%;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

/* css code for message box */

.message-box{
    width: 600px;
    height: 400px;
    border: 2px solid;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    visibility: hidden;
    
}
.message-box .middle{
    background-color: white;
}
.message-box .header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 40px;
    
    
    align-items: center;
    background-color: rgb(42, 43, 42);
}

.message-box h2{
    color: white;
}
.message-box .header h2,img{
    margin-left: 30px;
    margin-right: 10px;
}
.message-box textarea{
  border-style: none;
    border-color: Transparent; 
    overflow: auto;      
    outline: none;  
}
.message-box .bottom{
    width: 597px;
    height: 35px;
    background-color: rgb(219, 207, 207);
}
#send{
    position: absolute;
    right: 0px;
    bottom: 0px;
    background-color: blue;
    width: 60px;
    height: 32px;
    border-style: none;
    border-radius: 5px;
    color: white;
}
#message-box-close:hover{
    background-color: rgb(223, 65, 17);
    cursor: pointer;
}